<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="device_app.main"><i class="icon-speedometer"></i> Dashboard </a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Fleet Info
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="device_app.tracking"><i class="icon-location-pin"></i> Tracking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="device_app.device_list"><i class="icon-people"></i> Vehicle List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="device_app.manage_vehicles"><i class="icon-people"></i> Manage Vehicles</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Session Management
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" style="cursor:pointer" ng-click="logout()"><i class="icon-logout"></i> Logout</a>
      </li>
      <li class="divider"></li>

    </ul>
  </nav>
</div>
