<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard </a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Fleet Info
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.tracking"><i class="icon-location-pin"></i> Tracking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.driver_list"><i class="icon-people"></i> Driver List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.manage_drivers"><i class="icon-settings"></i> Manage Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.daily_report"><i class="icon-chart"></i> Daily Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.all_reports"><i class="icon-docs"></i>All Reports</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Session Management
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" style="cursor:pointer" ng-click="logout()"><i class="icon-logout"></i> Logout</a>
      </li>
      <li class="divider"></li>

    </ul>
  </nav>
</div>
