<div class="app flex-row align-items-center">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                Name : {{driver_data.name}}
            </div>
            <div class="col-sm-12">
                Contact : {{driver_data.number}}
            </div>
            <div class="col-sm-12">
                Car : {{driver_data.car}}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <ng-map default-style="false" on-resize="resizefun()" center="{{mapcenterlat}}, {{mapcenterlong}}" zoom="{{mapzoom}}" style="height: 50vh; width: 100%">
                    <marker position="19.126614, 73.004805" icon="{url:'/img/maps/sedan.png'}" on-click="">
                    </marker>
                    <marker position="19.112665, 72.862326" icon="{url:'/img/maps/flag.png'}" on-click="">
                    </marker>
                </ng-map>
            </div>
        </div>
        <div ng-if="leave_now">
        <h6>Driver is on his way to pick you up</h6>
        </div>
        <div class="row">
            <div class="col-sm-12">
            <button class="btn-primary px-4">Cancel</button><button class="btn-primary px-4" style="margin-left: 5px;">Call</button><button class="btn-primary px-4"style="margin-left: 5px;">SOS</button>
            </div>
        </div>
    </div>
</div>